<div class="allback" th:fragment="main_page_context">
    <section class="bg-1 text-center">
        <h1>Sell ticket</h1>

        <a class="btn btn-success btn-lg">Get started</a>
    </section>

    <div class="whiteContainerForText">

        <br/>
        <div class="row">


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img src="/image/mobile.jpg" class="img-rounded" alt=""/>
                    <div class="overlay">
                        <h2>Order ticket</h2>
                        <a class="info" href="#">Click</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img src="/image/concert.jpg" class="img-rounded" alt=""/>
                    <div class="overlay">
                        <h2>Find friends</h2>
                        <a class="info" href="#">Click</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img src="/image/big_event.jpg" class="img-rounded" alt=""/>
                    <div class="overlay">
                        <h2>Don't miss event</h2>
                        <a class="info" href="#">Click</a>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>